@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Montserrat;
}

.bt-custom {
    border-top: 1px solid black;
}

.temp-size {
    font-size: 8rem;
}

.temp-size-big {
    font-size: 10rem;
}

.dark {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.light {
    background-color: white;
    color: black;
}
